<div class="modal" ng-controller="ContactNewEditCtrl">
  <div class="bar bar-header bar-positive">
    <button class="button button-clear" ng-click="abort()">Abbrechen</button>
    <h1 class="title">Neuen Kontakt erfassen</h1>
    <button class="button button-clear" ng-click="apply()">Speichern</button>
  </div>

  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Vorname</span>
        <input type="text" ng-model="contact.firstName">
      </label>
      <label class="item item-input">
        <span class="input-label">Nachname</span>
        <input type="text" ng-model="contact.lastName">
      </label>

      <label class="item item-input">
        <span class="input-label">Veranstaltung</span>
        <input type="text" ng-model="contact.metAt">
      </label>

      <label class="item item-input">
        <span class="input-label">E-Mail</span>
        <input type="email" ng-model="contact.email">
      </label>

      <label class="item item-input">
        <span class="input-label">Twitter</span>
        <input type="text" ng-model="contact.twitter">
      </label>

      <label class="item item-input">
        <span class="input-label">Handy</span>
        <input type="text" ng-model="contact.phone">
      </label>

      <img id ="face" width="300" height="200"
           ng-show="contact.face.length > 0"/>

      <button class="button icon.left ion-camera button-positive" ng-click="takePicture()">Take a picture</button>

    </div>
  </ion-content>

</div>
