<ion-view title="{{contact.firstName}} {{contact.lastName}}">
  <ion-content class="has-header">

    <div class="list">

      <label class="item item-input">
        <span class="input-label">Vorname</span>
        <input type="text" ng-model="contact.firstName" disabled="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Nachname</span>
        <input type="text" ng-model="contact.lastName" disabled="true">
      </label>

      <label class="item item-input">
        <span class="input-label">E-Mail</span>
        <input type="email" ng-model="contact.email" disabled="true">
      </label>

      <label class="item item-input">
        <span class="input-label">Twitter</span>
        <input type="text" ng-model="contact.twitter" disabled="true">
      </label>

      <label class="item item-input">
        <span class="input-label">Handy</span>
        <input type="text" ng-model="contact.phone" disabled="true">
      </label>

    </div>
  </ion-content>
</ion-view>
